{% extends 'main/basic.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %} 通知 {% endblock %}

{% block base_content %}
    <h3>通知</h3>
    <div class="card bg-light w-100">
        <div class="card-header">
            <div class="float-right">
                <form class="inline" method="post" action="{{ url_for('main.read_all_notification') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-light btn-sm">
                        <span class="oi oi-check text-success" aria-hidden="true"></span> 标记已读
                    </button>
                </form>
                <form class="inline" method="post" action="{{ url_for('user.delete_all_notification') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-light btn-sm" onclick="return confirm('确认删除所有通知吗？')">
                        <span class="oi oi-trash text-danger" aria-hidden="true"></span> 所有通知
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            {% if notifications %}
                <ul class="list-group">
                    {% for notification in notifications %}
                        <li class="list-group-item">
                            {% if not notification.is_read %}
                                <a class="show-notification text-dark" href="#"
                                      data-href="{{ url_for('ajax.read_notice', notification_id=notification.id) }}">
                                    通知{{ loop.index }}</a><span class="badge badge-warning">未读</span>
                            {% endif %}
                            <div {% if not notification.is_read %}class="hidden"{% endif %}>
                                {{ notification.message|safe }}
                                <span class="float-right">
                                    {{ moment(notification.timestamp).fromNow(refresh=True) }}
                                    <form class="inline" method="post"
                                          action="{{ url_for('user.delete_notification', notification_id=notification.id)}}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-light btn-sm"
                                                onclick="return confirm('确认删除此条通知吗？')">
                                            <span class="oi oi-trash text-danger" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="text-right page-footer">
                    {{ render_pagination(pagination) }}
                </div>
            {% else %}
                <div class="tip text-center">
                    <h6>No notifications.</h6>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}